:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #f6faf4;
    --entry: #f6faf4;
    --primary: #3b6723;
    --secondary: #a4e382;
    --tertiary: #5ce01a;
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: #5ce01a;
}

.dark {
    --theme: #070b05;
    --entry: #070b05;
    --primary: #b0dc99;
    --secondary: #3e7f1c;
    --tertiary: #63e520;
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: #63e520;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
